.p, h2 {
  display: inline-block;
  justify-content: left;
  align-items: left;
  margin: 2em 0 1em 0px;
}

.table {
  overflow: hidden;
  box-shadow: 0 0 20px rgba(0,0,0,0.1);
  margin-top: 3%;
  border: 1px solid;
  border-radius: 9px;
  -moz-border-radius: 9px;
  -webkit-border-radius: 9px;
  width: auto;
  float: left;

}

.th {
  border-right: 1px solid;
  border-bottom: 1px solid;    
}
.th,
.td {
  padding: 15px;
  border-right: 1px solid;
}

.tr {
  text-align: left;
}

